*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: #b49999;
}
.container{
    margin-top: 50px;
    width: 30%;
    height: 150px;
}
.input{
    width: 40%;
    height: 25px;
    margin-bottom: 10px
}
.btn{
    width: 30%;
    background-color: #6262da;
    border-radius: 5px;
    height: 22px;
    margin-left: 67px;
    border: none;
}
.col{
    padding: 8px;
}
.p{
    font-weight: bold;
}


