.main{
    border: 2px solid gray;
    width: 300px;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 60px;
    border: none;
}
table{
    width: 100%;
    background-color: white;
   
    }
td{
    width: 25%;
}
button{
    width: 100%;
    background-color: rgb(83 83 147);
    color: white;
    height: 70px;
    font-size: 30px;
    border-radius: 20px;
}
input{
    width: 100%;
    height: 65px;
    background-color: #8b858517;
    font-size: 22px;
    text-align: end;
    border-radius: 5px;
    color: black;
}